@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Denver Serial Black';
    src: url('/fonts/denver-serial-black-regular.ttf');
}

html, body {
    overflow-x: hidden;
}

.app {
    .header {
        .header_say-hello-container {
            position: relative;
            padding: 10px;
            cursor: pointer;

            .header_say-hello-text {
                position: relative;
                z-index: 10;
            }

            .header_say-hello-circle {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 50px;
                height: 50px;
                background-color: transparent;
                border: 1px solid ;
                border-radius: 50%;
                transform: translate(0, -50%);
                z-index: 0;
            }
        }

        &.scrolled {
            background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0) 100%);
            transition: opacity 0.3s ease;
        }
    }

    .spotlightText_spotlight-div {
        background: #09090A;

        .spotlightText_spotlight-text {
            color: #F4F4F5;
            cursor: default;
            font-size: 300px;
            opacity: 60%;

            .spotlightText_spotlight {
                position: absolute;
                top: 0;
                left: 100px;
                right: 0;
                bottom: 300px;
                pointer-events: none;
                background: radial-gradient(circle, transparent 5%, #09090A 22%);
                background-position: -50px -50px;
                opacity: 95%;
            }
        }
    }

    .scrollNav_nav-item-link {
        position: relative;
        padding-left: 0;
        display: block;
        transition: padding-left 0.2s ease-out;
        overflow: hidden;
        color: #52525B;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 75%;
            transform: translateY(-50%) translateX(-100%);
            height: 1px;
            width: 80px;
            background-color: #F4F4F5;
            transition: transform 0.2s ease-out;
        }

        &.active {
            padding-left: 85px;
            color: #F4F4F5;

            &::before {
                transform: translateY(-50%) translateX(0);
            }
        }
    }

    .story_img {
        position: relative;

        img {
            position: relative;
            z-index: 10;
        }

        .story_img-shadow {
            position: absolute;
            top: 50%;
            left: 45%;
            border-radius: 50%;
            box-shadow: 0 0 150px 60px #F4F4F5;
            z-index: 0;
        }
    }

    .contact_gradient-border {
        background: linear-gradient(90deg, #1e1e1f 0%, #2a2a2b 50%, #353535 100%);
        border-radius: 30px;
        height: 100%;

        .contact_textarea-box {
            background: linear-gradient(to right, #0c0c0d, #09090A, #111112);
            border-radius: 30px;
            height: 100%;
        }
    }

    .contact_clear-button, .contact_submit-button {
        padding: 12px 24px;
        border-radius: 30px;
    }

    .contact_clear-button {
        border: 1px solid #474747;
        margin-right: 22px;
    }

    .contact_submit-button {
        background-image: linear-gradient(to bottom right, #FB2558, #A900FF);
    }

    .divider {
        height: 1px;
        width: 100%;
        max-width: 1200px;
        background-color: #393939;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .textBox {
        border: 1px solid #505050;
        background-color: #09090A;
        position: relative;
        border-radius: 25px;
        padding: 15px;

        .textBox_image {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            margin-right: 15px;
        }

        .textBox_star {
            position: absolute;
            bottom: 10px;
            right: 0;
        }
    }

    .slick-slider {
        display: flex;
        align-items: center;

        .slick-track {
            display: flex;
            align-items: center;
            min-height: 200px;

            .slick-center i {
                font-size: 150px !important;
                color: #FB2558 !important;
                transition: all 0.3s ease;
            }
        }
    }

    /* Base styles for each card */
    .card {
        background-size: cover;
        background-position: center;
        border-radius: 12px;
        display: block;
        backface-visibility: hidden;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
        transition: transform 0.5s ease;

    }

    .style-card-1 { --translate-x: 9rem; transform: translateX(var(--translate-x)) translateY(1rem); }
    .style-card-2 { --translate-x: 6rem; transform: translateX(var(--translate-x)); }
    .style-card-3 { --translate-x: 3rem; transform: translateX(var(--translate-x)) translateY(1rem); }
    .style-card-4 { --translate-x: 0rem; transform: translateX(var(--translate-x)); }

    .card:hover {
        transform: translateX(var(--translate-x)) scale(1.4);
        z-index: 40 !important;
    }

    @keyframes float {
        0%   {transform: translateX(0) translateY(0);}
        25%  {transform: translateX(100px) translateY(100px);}
        50%  {transform: translateX(-100px) translateY(50px);}
        100% {transform: translateX(0) translateY(0);}
    }

    @keyframes floatReverse {
        0%   {transform: translateX(0) translateY(0);}
        25%  {transform: translateX(-100px) translateY(100px);}
        50%  {transform: translateX(100px) translateY(-50px);}
        100% {transform: translateX(0) translateY(0);}
    }

    .circle {
        animation-duration: 20s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }

    .animate-float {
        animation-name: float;
    }

    .animate-floatReverse {
        animation-name: floatReverse;
    }
}





